<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>上傳新照片</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>上傳新照片</h1>
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file" required class="input-field">
            <button type="submit" class="button">上傳</button>
        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
</body>
</html>
